<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body ng-controller="RegisterCtrl">
<div class="container">
    <div class="jumbotron col-md-6 col-md-offset-3" style="padding-top: 0px; padding-bottom: 0px;">
        <h2>Enter Your Details To Register</h2>
    </div>
    <form role="form" name="regForm" novalidate>
        <div class="form-group col-md-6 col-md-offset-3"
             ng-class="{'has-error': regForm.email.$invalid && regForm.email.$touched}">
            <label>Email Address</label>
            <input type="email" class="form-control" ng-model="user.email" name="email" placeholder="Email Address"
                   required/>
            <small class="help-block" ng-show="regForm.email.$invalid && regForm.email.$touched">Please Enter an Email
                Address
            </small>
        </div>
        <div class="form-group col-md-6 col-md-offset-3"
             ng-class="{'has-error': regForm.password.$invalid && regForm.password.$touched}">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password"
                   required ng-minlength="6"/>
            <small class="help-block" ng-show="regForm.password.$error.minlength && regForm.password.$touched">Password
                must be atleast 6 characters long
            </small>
        </div>
        <div class="checkbox col-md-6 col-md-offset-3">
            <label><a href="#/home"> Sign in</a></label>

        </div>
        <div class="col-md-6 col-md-offset-3">
            <p ng-show="errMsg" class="alert alert-danger">{{errorMessage}}</p>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="regForm.$invalid"
                    ng-click="signUp()">Sign Up
            </button>
        </div>

    </form>
</div>
</body>
</html>